<h1>User info</h1>
<%= image_tag user.get_profile_image %>
<%= user.name %>
<%= user.introduction %>
<%= link_to '編集(後で修正)', edit_user_path(user.id) %>

<h1>New book</h1>
<%= form_with model: book_new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :opinion %>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>