<h1>User info</h1>
<%= image_tag current_user.get_image %>
<%= current_user.name %>
<%= current_user.introduction %>
<%= link_to '編集(後で修正)', edit_user_path(current_user.id) %>

<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @books.each do |book| %>
          <td><%= image_tag book.user.get_image %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        <% end %>
      </tr>
    </tbody>
  </table>